.parallax {
    /* The image used */
    background-image: url("../assets/beach.jpg");

    /* Set a specific height */
    min-height: 350px;
;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax_main{
  height:1000px;
  background-color:red;
  font-size:36px;
  padding-left: 100px;
  padding-right: 100px;
}


/* Main */

  #main {
    margin-bottom: 0;
  }

    #main section:first-of-type {
      padding-top: 2em;
    }

  }

/* Normal */

  @media screen and (max-width: 1280px) {

    /* Basic */

      body, input, textarea, select {
        font-size: 12pt;
        line-height: 1.5em;
      }

    /* Wrapper */

      .wrapper {
        padding-left: 2em;
        padding-right: 2em;
      }

    /* Header */

      #header {
        background-attachment: scroll;
      }

        #header .inner {
          padding-left: 2em;
          padding-right: 2em;
        }

    /* Banner */

      #banner {
        padding-left: 2em;
        padding-right: 2em;
      }

    /* Footer */

      #footer {
        padding-left: 2em;
        padding-right: 2em;
      }

  }

/* Narrow */

/* Narrower */

  @media screen and (max-width: 840px) {

    /* Basic */

      body, input, textarea, select {
        font-size: 13pt;
        line-height: 1.65em;
      }

      .tweet {
        text-align: center;
      }

      .timestamp {
        display: block;
        text-align: center;
      }

    /* Footer */

      #footer {
        padding: 4em 2em 4em 2em;
      }

    /* Carousel */

      .carousel {
        padding: 1.25em 0 1.25em 0;
      }

        .carousel article {
          width: 18em;
          margin: 0 1em 0 0;
        }

  }

/* Mobile */

  #navPanel, #titleBar {
    display: none;
  }

  @media screen and (max-width: 736px) {

    /* Basic */

      html, body {
        overflow-x: hidden;
      }

      body, input, textarea, select {
        font-size: 12.5pt;
        line-height: 1.5em;
      }

      h2 {
        font-size: 1.75em;
      }

      h3 {
        font-size: 1.25em;
      }

      hr {
        top: 3em;
        margin-bottom: 6em;
      }

    /* Section/Article */

      section, article {
        margin-bottom: 2em;
      }

        section:last-child, article:last-child {
          margin-bottom: 0;
        }

      .row > section, .row > article {
        margin-bottom: 2em;
      }

      header > p {
        font-size: 1.25em;
      }

    /* Image */

      .image.featured {
        margin: 0 0 2em 0;
      }

      .image.left {
        margin: 0 1em 1em 0;
      }

      .image.centered {
        margin: 0 0 1em 0;
      }

    /* List */

      form ul.actions {
        margin-top: 0;
      }

      ul.actions li {
        display: block;
        margin: 0.75em 0 0 0;
      }

        ul.actions li:first-child {
          margin-top: 0;
        }

      ul.menu {
        height: auto;
        text-align: center;
      }

        ul.menu li {
          display: block;
          border: 0;
          padding: 0.75em 0 0 0;
          margin: 0;
        }

          ul.menu li:first-child {
            padding-top: 0;
          }

      ul.icons {
        font-size: 1em;
        padding: 0.35em 0.5em 0.35em 0.5em;
      }

        ul.icons li a {
          width: 2.25em;
        }

    /* Button */

      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      button,
      .button {
        display: block;
        padding: 0;
        line-height: 3em;
        width: 100%;
      }

    /* Off-Canvas Navigation */

      #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
      }



